[submodule "benchmark/suite"]
	path = benchmark/suite
	url = https://github.com/json-schema-org/JSON-Schema-Test-Suite.git
[submodule "benchmark/jsonpath-suite"]
	path = benchmark/jsonpath-suite
	url = https://github.com/jsonpath-standard/jsonpath-compliance-test-suite.git
[submodule "benchmark/qt3tests"]
	path = benchmark/qt3tests
	url = https://github.com/w3c/qt3tests.git
[submodule "benchmark/toml-test-suite"]
	path = benchmark/toml-test-suite
	url = https://github.com/toml-lang/toml-test.git
[submodule "benchmark/commonmark-spec"]
	path = benchmark/commonmark-spec
	url = https://github.com/commonmark/commonmark-spec.git
[submodule "benchmark/gfm-spec"]
	path = benchmark/gfm-spec
	url = https://github.com/github/cmark-gfm.git
